@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TT Hoves Regular", sans-serif;
  font-weight: 300;
}
@font-face {
  font-family: "TT Hoves Bold";
  src: url("/fonts/TT-Hoves Pro-Trial-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves Light Italic";
  src: url("/fonts/TT-HovesPro-TrialLight-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Hoves Regular";
  src: url("/fonts/TT-HovesPro-TrialRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
