@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "TT-HovesPro-TrialRegular";
  src: url("/fonts/TT-HovesPro-TrialRegular.ttf") format("truetype");
}

@font-face {
  font-family: "TT-Hoves Pro-Trial-Bold";
  src: url("/fonts/TT-Hoves Pro-Trial-Bold.ttf") format("truetype");
}